* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
}

#dropArea {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 5% 0;
  text-align: center;
  border: 1px dashed black;
}

#dropArea2 {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 5% 0;
  text-align: center;

}